<h1>Nested Resources for All Tools</h1>



<% @tools.each do |tool| %>
  <ul>
  <li><%= link_to tool.name, tool_path(tool.id) %> | <%= link_to "Show Resources (refactor with AJAX)", tool_path(tool.id), :class => 'btn-tools' %> | <%= link_to "Add Resource (AJAX)", new_tool_resource_path(tool.id), :class => 'btn-resources' %></li>
    <% tool.resources.each do |tool, resource| %>
    <ul>
      <li><%= link_to tool.resource.name(resource.id), tool_resource_path(resource.id, tool.id) %> | <a href="<%= resource.url %>"><%= tool.resource.url %></a></li>
      <!--ionicons not working!
      <li class="ion-ionic" data-pack="default"></li-->

        <ul>
          <li><%= resource.summary %></li>
        </ul>
    </ul>
    <% end %>
  </ul>

<% end %>
